services:
  # ====================================================
  # INFRAESTRUTURA
  # ====================================================
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - hms-network
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - hms-network

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SERVER_PORT=8761
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
    networks:
      - hms-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 5

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "9000:9000"
    environment:
      - SERVER_PORT=9000
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - JWT_SECRET=${JWT_SECRET}
      - FRONTEND_URI=${FRONTEND_URI}
      # Configuração Redis para Rate Limiting
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      eureka-server:
        condition: service_started
    networks:
      - hms-network

  rabbitmq:
    build: ./rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672" # Porta padrão AMQP
      - "15672:15672" # Interface de Gestão Web
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - hms-network
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 30s
      timeout: 10s
      retries: 5

  # ====================================================
  # BANCOS DE DADOS
  # ====================================================
  mysql-user:
    image: mysql:8.0
    container_name: ms-user-db
    environment:
      MYSQL_DATABASE: ${MYSQL_USER_DB}
      MYSQL_USER: ${MYSQL_USER_USER}
      MYSQL_PASSWORD: ${MYSQL_USER_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_USER_PORT}:3306"
    volumes:
      - user-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  mysql-profile:
    image: mysql:8.0
    container_name: ms-profile-db
    environment:
      MYSQL_DATABASE: ${MYSQL_PROFILE_DB}
      MYSQL_USER: ${MYSQL_PROFILE_USER}
      MYSQL_PASSWORD: ${MYSQL_PROFILE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_PROFILE_PORT}:3306"
    volumes:
      - profile-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  mysql-appointment:
    image: mysql:8.0
    container_name: ms-appointment-db
    environment:
      MYSQL_DATABASE: ${MYSQL_APPOINTMENT_DB}
      MYSQL_USER: ${MYSQL_APPOINTMENT_USER}
      MYSQL_PASSWORD: ${MYSQL_APPOINTMENT_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_APPOINTMENT_PORT}:3306"
    volumes:
      - appointment-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  mysql-pharmacy:
    image: mysql:8.0
    container_name: ms-pharmacy-db
    environment:
      MYSQL_DATABASE: ${MYSQL_PHARMACY_DB}
      MYSQL_USER: ${MYSQL_PHARMACY_USER}
      MYSQL_PASSWORD: ${MYSQL_PHARMACY_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_PHARMACY_PORT}:3306"
    volumes:
      - pharmacy-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  mysql-media:
    image: mysql:8.0
    container_name: ms-media-db
    environment:
      MYSQL_DATABASE: ${MYSQL_MEDIA_DB}
      MYSQL_USER: ${MYSQL_MEDIA_USER}
      MYSQL_PASSWORD: ${MYSQL_MEDIA_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_MEDIA_PORT}:3306"
    volumes:
      - media-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  mysql-chat:
    image: mysql:8.0
    container_name: ms-chat-db
    environment:
      MYSQL_DATABASE: ${MYSQL_CHAT_DB}
      MYSQL_USER: ${MYSQL_CHAT_USER}
      MYSQL_PASSWORD: ${MYSQL_CHAT_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_CHAT_PORT}:3306"
    volumes:
      - chat-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  mysql-notification:
    image: mysql:8.0
    container_name: ms-notification-db
    environment:
      MYSQL_DATABASE: ${MYSQL_NOTIFICATION_DB}
      MYSQL_USER: ${MYSQL_NOTIFICATION_USER}
      MYSQL_PASSWORD: ${MYSQL_NOTIFICATION_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_NOTIFICATION_PORT}:3306"
    volumes:
      - notification-mysql-data:/var/lib/mysql
    networks:
      - hms-network
    restart: always

  # ====================================================
  # MICROSSERVIÇOS
  # ====================================================
  user-service:
    build: ./user
    container_name: user-service
    environment:
      - SERVER_PORT=8081
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-user
      - DB_PORT=3306
      - DB_NAME=${MYSQL_USER_DB}
      - DB_USER=${MYSQL_USER_USER}
      - DB_PASSWORD=${MYSQL_USER_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - PROFILE_URI=http://profile-service:8082
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - mysql-user
      - eureka-server
      - profile-service
    networks:
      - hms-network

  profile-service:
    build: ./profile
    container_name: profile-service
    environment:
      - SERVER_PORT=8082
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-profile
      - DB_PORT=3306
      - DB_NAME=${MYSQL_PROFILE_DB}
      - DB_USER=${MYSQL_PROFILE_USER}
      - DB_PASSWORD=${MYSQL_PROFILE_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - mysql-profile
      - eureka-server
    networks:
      - hms-network

  appointment-service:
    build: ./appointment
    container_name: appointment-service
    environment:
      - SERVER_PORT=8083
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-appointment
      - DB_PORT=3306
      - DB_NAME=${MYSQL_APPOINTMENT_DB}
      - DB_USER=${MYSQL_APPOINTMENT_USER}
      - DB_PASSWORD=${MYSQL_APPOINTMENT_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - PROFILE_URI=http://profile-service:8082
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - mysql-appointment
      - eureka-server
      - profile-service
    networks:
      - hms-network

  pharmacy-service:
    build: ./pharmacy
    container_name: pharmacy-service
    environment:
      - SERVER_PORT=8084
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-pharmacy
      - DB_PORT=3306
      - DB_NAME=${MYSQL_PHARMACY_DB}
      - DB_USER=${MYSQL_PHARMACY_USER}
      - DB_PASSWORD=${MYSQL_PHARMACY_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - mysql-pharmacy
      - eureka-server
      - rabbitmq
    networks:
      - hms-network

  media-service:
    build: ./media
    container_name: media-service
    environment:
      - SERVER_PORT=8085
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-media
      - DB_PORT=3306
      - DB_NAME=${MYSQL_MEDIA_DB}
      - DB_USER=${MYSQL_MEDIA_USER}
      - DB_PASSWORD=${MYSQL_MEDIA_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mysql-media
      - eureka-server
    networks:
      - hms-network

  chat-service:
    build: ./chat
    container_name: chat-service
    environment:
      - SERVER_PORT=8086
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-chat
      - DB_PORT=3306
      - DB_NAME=${MYSQL_CHAT_DB}
      - DB_USER=${MYSQL_CHAT_USER}
      - DB_PASSWORD=${MYSQL_CHAT_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mysql-chat
      - eureka-server
    networks:
      - hms-network

  notification-service:
    build: ./notification
    container_name: notification-service
    environment:
      - SERVER_PORT=8087
      - EUREKA_URI=http://eureka-server:8761/eureka/
      - DB_HOST=mysql-notification
      - DB_PORT=3306
      - DB_NAME=${MYSQL_NOTIFICATION_DB}
      - DB_USER=${MYSQL_NOTIFICATION_USER}
      - DB_PASSWORD=${MYSQL_NOTIFICATION_PASSWORD}
      # Configuração RabbitMQ
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest
      # Configuração E-mail
      - SPRING_MAIL_HOST=${MAIL_HOST}
      - SPRING_MAIL_PORT=${MAIL_PORT}
      - SPRING_MAIL_USERNAME=${MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
    depends_on:
      - mysql-notification
      - eureka-server
      - rabbitmq
    networks:
      - hms-network

  # ====================================================
  # MONITORAMENTO
  # ====================================================
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:z
    networks:
      - hms-network
    depends_on:
      - gateway

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # senha padrão do admin
    networks:
      - hms-network
    depends_on:
      - prometheus

  # ====================================================
  # FRONTEND
  # ====================================================
  frontend:
    container_name: frontend
    build:
      context: ../frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/app:z # o :z é o para rodar no SELinux
      - /app/node_modules # isola as dependências do container
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: pnpm run dev --host
    networks:
      - hms-network

volumes:
  user-mysql-data:
  profile-mysql-data:
  appointment-mysql-data:
  pharmacy-mysql-data:
  media-mysql-data:
  chat-mysql-data:
  notification-mysql-data:

networks:
  hms-network:
    driver: bridge
