server:
  port: ${SERVER_PORT:8082}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true

spring:
  application:
    name: profile-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:ms_profile_db}
    username: ${DB_USER:mysql_profile_user}
    password: ${DB_PASSWORD:mysql_profile_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
    cache:
      type: redis
      redis:
        time-to-live: 600000 # 10 minutos

application:
  rabbitmq:
    exchange: internal.exchange
    user-created-queue: profile.user-created.queue
    user-created-routing-key: user.event.created
    user-updated-queue: profile.user-updated.queue
    user-updated-routing-key: user.event.updated
  security:
    jwt:
      secret-key: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"

resilience4j:
  circuitbreaker:
    instances:
      appointmentService: # nome da instância usada na anotação
        registerHealthIndicator: true
        slidingWindowSize: 10 # analisa as últimas 10 chamadas
        minimumNumberOfCalls: 5 # só ativa depois de pelo menos 5 chamadas
        permittredNumberOfCallsInHalfOpenState: 3 # tenta 3 vezes para ver se voltou
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s # espera 5s antes de tentar de novo
        failureRateThreshold: 50 # abre o circuito se 50% falharem
        eventConsumerBufferSize: 10