server:
  port: ${SERVER_PORT:8085}
  shutdown: graceful # Aguarda requests terminarem antes de matar o processo

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true

spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s # tempo máximo de espera
  config:
    import: "optional:classpath:common-application.yml"
  application:
    name: media-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:ms_media_db}
    username: ${DB_USER:mysql_media_user}
    password: ${DB_PASSWORD:mysql_media_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION:86400000}
  storage:
    upload-dir: ${UPLOAD_DIR:uploads} # Pode ser mapeado via volume no futuro se quiser persistência fora do container

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"