server:
  port: ${SERVER_PORT:8083}

services:
  profile:
    base-url: "${PROFILE_URI:http://localhost:8082}"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true

spring:
  config:
    import: "optional:classpath:common-application.yml"
  application:
    name: appointment-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:ms_appointment_db}
    username: ${DB_USER:mysql_appointment_user}
    password: ${DB_PASSWORD:mysql_appointment_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
    cache:
      type: redis
      redis:
        time-to-live: 600000 # 10 minutos

application:
  frontend:
    url: ${FRONTEND_URL:http://localhost:5173}
  rabbitmq:
    exchange: internal.exchange
    prescription-issued-routing-key: prescription.issued
    appointment-status-routing-key: appointment.status.changed
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION:86400000}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"

resilience4j:
  circuitbreaker:
    instances:
      profileService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50