server:
  port: ${SERVER_PORT:8087}
  shutdown: graceful # aguarda requests terminarem antes de matar o processo

spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s # tempo máximo de espera
  config:
    import: "optional:classpath:common-application.yml"
  application:
    name: notification-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:ms_notification_db}
    username: ${DB_USER:mysql_notification_user}
    password: ${DB_PASSWORD:mysql_notification_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  # Configuração RabbitMQ
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
    listener:
      simple:
        default-requeue-rejected: false
        retry:
          enabled: true
          initial-interval: 3s
          max-interval: 10s
          max-attempts: 3
          multiplier: 2.0

  # Configuração de E-mail
  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
  rabbitmq:
    exchange: internal.exchange
    notification-queue: notification.queue
    routing-key: notification.email
    user-created-queue: notification.user.created.queue
    user-created-routing-key: user.event.created
    lab-queue-name: notification.lab.completed.queue
    notification-reminder: notification.reminder.queue
    notification-status: notification.status.queue
    notification-prescription: notification.prescription.queue
    chat-notification: notification.chat.queue

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"